
body {
    
    font-family: Arial, sans-serif;
    font-size: 15px;
}

.google {
    margin-top:10%;
}

.google img {
    max-width: 30vw;
    max-height: 30vh;
}

.search .loop,
.search button,
.voice_search img{
    width: 30px;
    height: 30px;
}

.voice_search {
    border: none;
    background-color: transparent;
}

.voice_search:hover {
    cursor: pointer;
}


.input_string {
    width: 40vw;
}

.search_wrapper {
    border: 1px solid #dddddd;
    width: 50vw;
    border-radius: 30px;
}

.search_wrapper:hover {
    box-shadow: 0 0 10px 2px #dddddd;
}


.favourits {
    width: 45vw;
}

.icon_wraper {
    margin: 0 auto;
    background-color: #eeeeee;
    border-radius: 50%;
    width: 90px;
    height: 90px;
}

.icon_wraper img {
    width: 40px;
    height: 40px;
}

.icon_name {
    color: #000!important;
}

.icon {
    position: relative;
    width: 120px;
    height: 140px;
}

.icon:hover {
    text-decoration: none;
    background-color: #eeeeee;
    border-radius: 5px;
}

.additional{
    display: none;
    position: absolute;
    left: 90%;
    top: 15px;
}
.additional>span,
.additional>span:before,
.additional>span:after {
    
    display: block;
    position: absolute;
    width: 4px;
    height: 4px;
    border-radius: 50%;
    background-color: #bbbbbb;
}

.additional>span:before{
    content: "";
    top: 5px;
}

.additional>span:after {
    content: "";
    top: -5px;
}

.modWindow {
    display:none;
}
